body {
  padding-top: 60px;
  background-color: #faf5e2 !important;
  color: #996340;
}

.content {
  padding-top: 10%;
  padding-bottom: 3%;
  position: relative;
  max-width: 1000px;
  margin: auto;
}
