i.current-icon {
  display: blockx;
  margin: 10%;
  text-align: center;
  width: --webkit-fill-available;
  font-size: 400%;
}
@media (max-width: 352px) {
  i.current-icon {
    font-size: 250%;
  }
}
